*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}
.title {
  text-align: center;
  margin: 2rem 0;
  color:white;
}

.form-input {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.form-input input {
  width: 100%;
  border: 1px solid black;
  padding: 0 1rem;
  height: 40px;

}

.form-input button {
  height: 40px;
  background-color: rgb(255, 255, 255);
  font-weight: bold;
  color: rgb(0, 0, 0);
  border: 1px solid white;
  border-radius: 10px;
  width: 15%;
  margin: 4px;
}

.list-items {
  display: flex;
  justify-content: center;
  
}