.livro1:hover {
    transform: scale(1.1);
  }
  .livro2:hover {
    transform: scale(1.1);
  }
  .livro3:hover {
    transform: scale(1.1);
  }
  .livro4:hover {
    transform: scale(1.1);
  }
  .livro5:hover {
    transform: scale(1.1);
  }
  .livro6:hover {
    transform: scale(1.1);
  }
    .livro7:hover {
    transform: scale(1.1);
  }
  .livro8:hover {
    transform: scale(1.1);
  }
  .livro9:hover {
    transform: scale(1.1);
  }
  .livro10:hover {
    transform: scale(1.1);
  }
  .livro11:hover {
    transform: scale(1.1);
  }
  .livro12:hover {
    transform: scale(1.1);
  }